/********************************* CORES *********************************/
.cvermelho {
  color: #e3202b;
}
.bvermelho {
  background-color: #e3202b;
}
.bgvermelho {
  background-color: #e3202b;
  background-image: linear-gradient(to bottom, #e3202b 0%, #c10009 100%);
}
.cpreto {
  color: #000;
}
.bpreto {
  background-color: #000;
}
.bgpreto {
  background-color: #000;
  background-image: linear-gradient(to bottom, #000 0%, #000000 100%);
}
.cescuro {
  color: #222;
}
.bescuro {
  background-color: #222;
}
.bgescuro {
  background-color: #222;
  background-image: linear-gradient(to bottom, #222 0%, #000000 100%);
}
.cgrafite {
  color: #333;
}
.bgrafite {
  background-color: #333;
}
.bggrafite {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333 0%, #111111 100%);
}
.ccinzaescuro {
  color: #777;
}
.bcinzaescuro {
  background-color: #777;
}
.bgcinzaescuro {
  background-color: #777;
  background-image: linear-gradient(to bottom, #777 0%, #555555 100%);
}
.ccinza {
  color: #AAA;
}
.bcinza {
  background-color: #AAA;
}
.bgcinza {
  background-color: #AAA;
  background-image: linear-gradient(to bottom, #AAA 0%, #888888 100%);
}
.ccinzaclaro {
  color: #EEE;
}
.bcinzaclaro {
  background-color: #EEE;
}
.bgcinzaclaro {
  background-color: #EEE;
  background-image: linear-gradient(to bottom, #EEE 0%, #cccccc 100%);
}
.cgelo {
  color: #F7F7F7;
}
.bgelo {
  background-color: #F7F7F7;
}
.bggelo {
  background-color: #F7F7F7;
  background-image: linear-gradient(to bottom, #F7F7F7 0%, #d5d5d5 100%);
}
.cbranco {
  color: #FFF;
}
.bbranco {
  background-color: #FFF;
}
.bgbranco {
  background-color: #FFF;
  background-image: linear-gradient(to bottom, #FFF 0%, #dddddd 100%);
}
/********************************* FONTS *********************************/
@font-face {
  font-family: 'Aurora';
  src: url("../fonts/OPTIAuroraBoldCondensed.ttf") format("opentype");
}
@font-face {
  font-family: 'TCCC';
  src: url("../fonts/TCCC-UnityText-Light.ttf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: 'TCCC';
  src: url("../fonts/TCCC-UnityText-Regular.woff") format("woff"), url("../fonts/TCCC-UnityText-Regular.woff2") format("woff2"), url("../fonts/TCCC-UnityText-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'TCCC';
  src: url("../fonts/TCCC-UnityText-Medium.woff") format("woff"), url("../fonts/TCCC-UnityText-Medium.woff2") format("woff2"), url("../fonts/TCCC-UnityText-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'TCCC';
  src: url("../fonts/TCCC-UnityText-Bold.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'TCCC';
  src: url("../fonts/TCCC-UnityText-Black.ttf") format("opentype");
  font-weight: 800;
}
/********************************* GERAL *********************************/
html,
body {
  font-size: 10px;
}
* {
  font-family: 'TCCC', 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.alterfont {
  font-family: 'Aurora', 'Anton', sans-serif;
}
.transition {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.fast {
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}
.clear {
  clear: both;
}
a,
button {
  text-decoration: none;
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}
a:hover,
button:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.tabled {
  display: table;
}
.tabled > div {
  display: table-cell;
  vertical-align: middle;
}
nobr {
  font-family: inherit;
}
/*********************************** FORMAS ***********************************/
.il {
  display: inline;
}
.bl {
  display: block;
}
.ib {
  display: inline-block;
}
.rd100 {
  border-radius: 100vh;
}
.rd0 {
  border-radius: 0px;
}
.rd5 {
  border-radius: 5px;
}
.rd10 {
  border-radius: 10px;
}
.m0 {
  margin: 0;
}
.mb05 {
  margin-bottom: 0.5em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb3 {
  margin-bottom: 3em;
}
.p0 {
  padding: 0;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.pl10 {
  padding-left: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
/*********************************** FONTES TEXTOS ***********************************/
.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}
.i {
  font-style: italic;
}
.uc {
  text-transform: uppercase;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.t9 {
  font-size: 9px;
}
.t11 {
  font-size: 11px;
}
.t12 {
  font-size: 12px;
}
.t13 {
  font-size: 13px;
}
.t14 {
  font-size: 14px;
}
.t15 {
  font-size: 15px;
}
.t16 {
  font-size: 16px;
}
.t18 {
  font-size: 18px;
}
.t20 {
  font-size: 20px;
}
.t22 {
  font-size: 22px;
}
.t24 {
  font-size: 24px;
}
.t26 {
  font-size: 26px;
}
.t28 {
  font-size: 28px;
}
.t32 {
  font-size: 32px;
}
.t36 {
  font-size: 36px;
}
.t37 {
  font-size: 37px;
}
.t42 {
  font-size: 42px;
}
.t48 {
  font-size: 48px;
}
.t52 {
  font-size: 52px;
}
.t56 {
  font-size: 56px;
}
.t72 {
  font-size: 72px;
}
.lh100 {
  line-height: 100%;
}
.lh120 {
  line-height: 120%;
}
.lh140 {
  line-height: 140%;
}
.lh160 {
  line-height: 160%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
/*********************************** ANIMATION ***********************************/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
  -ms-animation: rotating 120s linear infinite;
  -o-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;
}
/*********************************** GRID ***********************************/
::-webkit-scrollbar {
  width: 8px;
  background: #FFF;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e3202b;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #e3202b;
}
html,
body {
  overflow-x: hidden !important;
}
@media (max-width: 1199px) {
  .container {
    max-width: 420px !important;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 940px !important;
    position: relative;
  }
}
/*********************************** NAV - MENU ***********************************/
@media (max-width: 991px) {
  nav#menu h1 {
    display: none;
  }
  nav#menu ul {
    margin: 0;
    padding: 0;
    width: 340px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFF;
    z-index: 999;
    padding-left: 170px;
    display: none;
  }
  nav#menu ul a.close-menu {
    display: block;
    text-align: right;
    padding: 20px 10px;
  }
  nav#menu ul li {
    padding: 0;
    margin-bottom: 40px;
  }
  nav#menu ul li a {
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav#menu ul li a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav#menu ul li a:hover {
    font-weight: 700;
  }
  nav#menu ul li a.active {
    font-weight: 800;
  }
}
@media (min-width: 992px) {
  nav#menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  nav#menu h1 {
    margin-bottom: 1em;
  }
  nav#menu h1 svg {
    width: 128px;
  }
  nav#menu h1 svg g,
  nav#menu h1 svg path,
  nav#menu h1 svg rect,
  nav#menu h1 svg circle {
    fill: #000 !important;
  }
  nav#menu ul {
    margin: 0;
    padding: 0;
    width: 100px;
    display: block !important;
  }
  nav#menu ul a.close-menu {
    display: none !important;
  }
  nav#menu ul li {
    padding: 0;
    margin-bottom: 40px;
  }
  nav#menu ul li a {
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav#menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav#menu ul li a:hover {
    font-weight: 700;
  }
  nav#menu ul li a:hover::after {
    width: 40%;
  }
  nav#menu ul li a.active {
    font-weight: 800;
  }
  nav#menu ul li a.active::after {
    width: 100%;
    height: 6px;
  }
  nav#menu[data-color=branco] h1 svg g,
  nav#menu[data-color=branco] h1 svg path,
  nav#menu[data-color=branco] h1 svg rect,
  nav#menu[data-color=branco] h1 svg circle {
    fill: #FFF !important;
  }
  nav#menu[data-color=branco] ul li a {
    color: #FFF;
  }
  nav#menu[data-color=branco] ul li a::after {
    background-color: #FFF;
  }
}
/*********************************** CAPA ***********************************/
@media all {
  #capa {
    background-color: #e3202b;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  #capa .container {
    max-width: 640px !important;
  }
  #capa a.open-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    line-height: 100%;
    font-size: 36px;
    z-index: 99;
  }
  #capa h1 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 36px;
    max-width: 260px;
    margin: auto;
    margin-bottom: 40px;
  }
  #capa .logo {
    max-width: 100%;
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }
  #capa .subtitulo p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    line-height: 140%;
  }
  #capa p {
    font-size: 14px;
    color: #FFF;
    line-height: 180%;
    margin-bottom: 2em;
  }
}
@media all and (min-width: 992px) {
  #capa .container {
    max-width: 740px !important;
  }
}
@media all and (min-width: 992px) {
  #capa a.open-menu {
    display: none !important;
  }
}
@media all and (min-width: 1200px) {
  #capa h1 {
    font-size: 52px;
    max-width: 360px;
  }
}
/*********************************** LOGOS & BANNERS ***********************************/
@media all {
  .logos {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  .logos .container {
    max-width: 680px !important;
  }
  .logos .lista {
    text-align: center;
  }
  .logos .lista a {
    display: inline-block;
    margin: 15px;
  }
  .logos .lista a img {
    height: 80px;
    width: auto;
    max-width: 100%;
  }
  .banners {
    text-align: center;
  }
  .banners a {
    display: none;
    text-align: center;
  }
  .banners a img {
    display: inline-block;
    max-width: 100%;
  }
  .banners a img.desktop {
    display: none;
  }
  .banners input {
    display: none !important;
  }
  .banners input:checked + a {
    display: inline-block;
  }
  .banners .controle {
    text-align: center;
    padding-top: 20px;
  }
  .banners .controle label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 3px #e3202b;
    background-color: #FFF;
    border-radius: 100vh;
    margin: 0px 2px;
    cursor: pointer;
  }
  .banners .controle label:hover {
    background-color: #000;
  }
  .banners .controle label.active {
    background-color: #e3202b;
  }
}
@media all and (min-width: 1100px) {
  .logos .container {
    max-width: 940px !important;
  }
}
@media all and (min-width: 1400px) {
  .logos .container {
    max-width: 1240px !important;
  }
}
@media all and (min-width: 1100px) {
  .logos .lista a img {
    height: 130px;
  }
}
@media all and (min-width: 1024px) {
  .banners a img.mobile {
    display: none;
  }
  .banners a img.desktop {
    display: inline-block;
  }
}
/*********************************** COMO ***********************************/
@media (max-width: 1199px) {
  #como {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-image: url("../img/streets-5.svg");
    background-size: 690px auto;
    background-repeat: no-repeat;
    background-position: 50% 220px;
    overflow-x: hidden;
  }
  #como .dotball1,
  #como .dotball2 {
    display: none !important;
  }
  #como .container {
    max-width: 360px !important;
  }
  #como h2 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 48px;
    max-width: 260px;
    margin: auto;
    margin-bottom: 100px;
  }
  #como .item .ball {
    background-color: #AAA;
    border-radius: 100vh;
    position: relative;
    float: right;
    width: 270px;
    height: 270px;
    background-size: cover;
  }
  #como .item .ball::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #como .item .ball h4 {
    position: absolute;
    top: 42%;
    right: 20px;
    font-family: 'Aurora', 'Anton', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    text-align: right;
    line-height: 140%;
  }
  #como .item .symbol {
    width: 80px;
    height: auto;
    float: right;
  }
  #como .item p {
    height: 200px;
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
  }
  #como .item.left .ball {
    float: left;
  }
  #como .item.left .ball h4 {
    right: auto;
    left: 20px;
    text-align: left;
  }
  #como .item.left .symbol {
    float: left;
  }
  #como .item.left p {
    text-align: right;
  }
  #como .item.item-1 p {
    height: 320px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #como .item.item-2 p {
    height: 290px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #como .item.item-3 p {
    height: 290px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #como .item.item-4 p {
    height: 310px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #como .item.item-5 p {
    height: 290px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  #como {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    /*background: url("../img/dot-ball.svg"), url("../img/dot-ball.svg");
        background-size: 750px, 750px;
        background-repeat: no-repeat, no-repeat;
        background-position: ~"calc(50% - 750px)" 75%, ~"calc(50% + 750px)" 25%;*/
  }
  #como .dotball1,
  #como .dotball2 {
    -webkit-animation: rotating 120s linear infinite;
    -moz-animation: rotating 120s linear infinite;
    -ms-animation: rotating 120s linear infinite;
    -o-animation: rotating 120s linear infinite;
    animation: rotating 120s linear infinite;
  }
  #como .dotball1 {
    position: absolute;
    width: 750px;
    height: 750px;
    right: calc(50% + 350px);
    top: 50%;
  }
  #como .dotball2 {
    position: absolute;
    width: 750px;
    height: 750px;
    left: calc(50% + 400px);
    top: 23%;
  }
  #como .container {
    background-image: url("../img/streets-big-5.svg");
    background-size: 690px auto;
    background-repeat: no-repeat;
    background-position: 50% 200px;
    max-width: 800px !important;
  }
  #como h2 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 48px;
    max-width: 260px;
    margin: auto;
    margin-bottom: 100px;
  }
  #como .item .ball {
    background-color: #AAA;
    border-radius: 100vh;
    position: relative;
    float: right;
    width: 380px;
    height: 380px;
    background-size: cover;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transition-duration: .2s;
  }
  #como .item .ball::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #como .item .ball h4 {
    position: absolute;
    top: 50%;
    right: 20px;
    font-family: 'Aurora', 'Anton', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-size: 42px;
    text-align: right;
    line-height: 140%;
    margin: 0;
    transform: translateY(-50%);
  }
  #como .item .symbol {
    width: 100px;
    height: auto;
    float: right;
  }
  #como .item p {
    height: 200px;
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
  }
  #como .item.left .ball {
    float: left;
  }
  #como .item.left .ball h4 {
    right: auto;
    left: 20px;
    text-align: left;
  }
  #como .item.left .symbol {
    float: left;
  }
  #como .item.left p {
    text-align: right;
  }
  #como .item.item-1 {
    padding-top: 80px;
  }
}
/*********************************** OQUE ***********************************/
@media all {
  #oque {
    padding-top: 0px;
    padding-bottom: 80px;
    position: relative;
  }
  #oque .balls-line {
    width: 100%;
    height: 10px;
    background-image: url("../img/balls-line.svg");
    background-position: left -1px center;
    background-repeat: repeat-x;
    margin-bottom: 80px;
  }
  #oque h2 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #e3202b;
    background-color: #FFF;
    font-size: 48px;
    max-width: 260px;
    margin: auto;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
  }
  #oque .filtros {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #oque .filtros > div {
    justify-content: center;
    display: flex;
  }
  #oque .filtros a {
    display: block;
    text-transform: uppercase;
    color: #e3202b;
    font-size: 16px;
    text-align: center;
    font-family: 'Aurora', 'Anton', sans-serif;
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    margin-bottom: 1em;
    transition-duration: 350;
    min-width: 120px;
  }
  #oque .filtros a svg.cvermelho {
    display: inline-block;
    width: auto;
    height: 30px;
    margin-bottom: 0.5em;
  }
  #oque .filtros a svg.cvermelho g,
  #oque .filtros a svg.cvermelho path,
  #oque .filtros a svg.cvermelho rect,
  #oque .filtros a svg.cvermelho circle {
    fill: #e3202b !important;
  }
  #oque .filtros a svg.cvermelho g.cl-none,
  #oque .filtros a svg.cvermelho path.cl-none,
  #oque .filtros a svg.cvermelho rect.cl-none,
  #oque .filtros a svg.cvermelho circle.cl-none {
    fill: none !important;
  }
  #oque .filtros a.active {
    color: #000;
  }
  #oque .filtros a.active svg g,
  #oque .filtros a.active svg path,
  #oque .filtros a.active svg rect,
  #oque .filtros a.active svg circle {
    fill: #000 !important;
  }
  #oque .filtros a.active svg g.cl-none,
  #oque .filtros a.active svg path.cl-none,
  #oque .filtros a.active svg rect.cl-none,
  #oque .filtros a.active svg circle.cl-none {
    fill: none !important;
  }
  #oque .filtros a:hover {
    transform: scale(1.2);
  }
  #oque .itens .item {
    padding: 15px;
  }
  #oque .itens .item .box {
    padding: 50px 25px 25px 25px;
    min-height: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: #e3202b;
    background-image: linear-gradient(to bottom left, #c10009, #e3202b);
    -webkit-box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.31);
  }
  #oque .itens .item .box:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.25);
  }
  #oque .itens .item .box > span {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  #oque .itens .item .box > span svg.cbranco {
    width: auto;
    height: 35px;
    display: inline-block;
    padding: 5px;
  }
  #oque .itens .item .box > span svg.cbranco g,
  #oque .itens .item .box > span svg.cbranco path,
  #oque .itens .item .box > span svg.cbranco rect,
  #oque .itens .item .box > span svg.cbranco circle {
    fill: #FFF !important;
  }
  #oque .itens .item .box > span svg.cbranco g.cl-none,
  #oque .itens .item .box > span svg.cbranco path.cl-none,
  #oque .itens .item .box > span svg.cbranco rect.cl-none,
  #oque .itens .item .box > span svg.cbranco circle.cl-none {
    fill: none !important;
  }
  #oque .itens .item .box .amazonas {
    position: absolute;
    width: 70px;
    top: -3px;
    right: 43px;
  }
  #oque .itens .item .box p {
    color: #FFF;
    line-height: 160%;
    font-size: 13px;
    margin: 0;
  }
  #oque .itens .item .box .share {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 55;
    max-width: calc(100% - 10px);
    width: 30px;
    height: 35px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    overflow: hidden;
  }
  #oque .itens .item .box .share label {
    cursor: pointer;
    margin: 0;
    float: right;
  }
  #oque .itens .item .box .share svg.cshare {
    width: auto;
    height: 35px;
    display: inline-block;
    padding: 5px;
  }
  #oque .itens .item .box .share svg.cshare g,
  #oque .itens .item .box .share svg.cshare path,
  #oque .itens .item .box .share svg.cshare rect,
  #oque .itens .item .box .share svg.cshare circle {
    fill: #FFF !important;
  }
  #oque .itens .item .box .share svg.cshare g.cl-none,
  #oque .itens .item .box .share svg.cshare path.cl-none,
  #oque .itens .item .box .share svg.cshare rect.cl-none,
  #oque .itens .item .box .share svg.cshare circle.cl-none {
    fill: none !important;
  }
  #oque .itens .item .box .share > span {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
  }
  #oque .itens .item .box .share > span a svg {
    width: auto;
    height: 35px;
    display: inline-block;
    padding: 5px;
  }
  #oque .itens .item .box .share > span a svg g,
  #oque .itens .item .box .share > span a svg path,
  #oque .itens .item .box .share > span a svg rect,
  #oque .itens .item .box .share > span a svg circle {
    fill: #FFF !important;
  }
  #oque .itens .item .box .share > span a svg g.cls-1,
  #oque .itens .item .box .share > span a svg path.cls-1,
  #oque .itens .item .box .share > span a svg rect.cls-1,
  #oque .itens .item .box .share > span a svg circle.cls-1 {
    fill: #e3202b !important;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  #oque .itens .item .box .share > span a:hover svg {
    width: auto;
    height: 35px;
    display: inline-block;
    padding: 5px;
  }
  #oque .itens .item .box .share > span a:hover svg g,
  #oque .itens .item .box .share > span a:hover svg path,
  #oque .itens .item .box .share > span a:hover svg rect,
  #oque .itens .item .box .share > span a:hover svg circle {
    fill: #FFF !important;
  }
  #oque .itens .item .box .share > span a:hover svg g.cls-1,
  #oque .itens .item .box .share > span a:hover svg path.cls-1,
  #oque .itens .item .box .share > span a:hover svg rect.cls-1,
  #oque .itens .item .box .share > span a:hover svg circle.cls-1 {
    fill: #000 !important;
  }
  #oque .itens .item .box input {
    display: none !important;
  }
  #oque .itens .item .box input:checked ~ .share {
    width: 390px;
    background-color: #FFF;
  }
  #oque .itens .item .box input:checked ~ .share svg.cshare {
    width: auto;
    height: 35px;
    display: inline-block;
    padding: 5px;
  }
  #oque .itens .item .box input:checked ~ .share svg.cshare g,
  #oque .itens .item .box input:checked ~ .share svg.cshare path,
  #oque .itens .item .box input:checked ~ .share svg.cshare rect,
  #oque .itens .item .box input:checked ~ .share svg.cshare circle {
    fill: #e3202b !important;
  }
  #oque .itens .item .box input:checked ~ .share svg.cshare g.cl-none,
  #oque .itens .item .box input:checked ~ .share svg.cshare path.cl-none,
  #oque .itens .item .box input:checked ~ .share svg.cshare rect.cl-none,
  #oque .itens .item .box input:checked ~ .share svg.cshare circle.cl-none {
    fill: none !important;
  }
  #oque .itens .item .box input:checked ~ .share > span {
    visibility: visible;
    opacity: 1;
  }
  #oque .mais {
    font-family: 'Aurora', 'Anton', sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media all and (min-width: 1200px) {
  #oque {
    padding-top: 80px;
  }
}
@media all and (min-width: 1200px) {
  #oque .balls-line {
    position: absolute;
    left: 0;
    top: 48%;
    margin-bottom: 0px;
  }
}
@media all and (max-width: 1199px) {
  #oque .itens .item:nth-child(n+7) {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  #oque .itens .item:nth-child(n+19) {
    display: none;
  }
}
/*********************************** ONDE | DADOS - MAPA ***********************************/
@media all {
  #onde {
    background-color: #e3202b;
    background-image: linear-gradient(to bottom, #e3202b 0%, #c10009 100%);
    padding-bottom: 20px;
  }
  #onde .container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 760px !important;
  }
  #onde #dados {
    background-image: url("../img/back-dados.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  #onde #dados h2 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 48px;
    max-width: 260px;
    margin: auto;
    margin-bottom: 1em;
    position: relative;
    z-index: 2;
  }
  #onde #dados p {
    color: #FFF;
    font-size: 14px;
    margin-bottom: 3em;
    line-height: 160%;
  }
  #onde #dados h3 {
    color: #FFF;
    font-size: 22px;
    font-family: 'Aurora', 'Anton', sans-serif;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  #onde #dados .tabela {
    padding: 20px 0;
    position: relative;
    max-width: 420px;
    margin: auto;
    border: solid 4px #FFF;
    border-radius: 3px;
    border-top: none;
  }
  #onde #dados .tabela .borda {
    position: absolute;
    right: -4px;
    bottom: calc(100% - 3px);
    width: calc(100% + 8px);
  }
  #onde #dados .tabela table {
    width: 100%;
  }
  #onde #dados .tabela table tr td {
    color: #FFF;
    text-align: center;
    padding: 10px 10px;
    vertical-align: top;
    width: 33.333%;
  }
  #onde #dados .tabela table tr td span {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Aurora', 'Anton', sans-serif;
    margin: 0;
    line-height: 100%;
  }
  #onde #dados .tabela table tr td span small {
    font-size: 18px;
    font-family: 'Aurora', 'Anton', sans-serif;
    margin: 0;
    line-height: 100%;
  }
  #onde #dados .tabela table tr td p {
    font-size: 9px;
    margin: 0;
  }
  #onde #dados .tabela table tr:first-child td {
    padding: 20px 10px;
  }
  #onde #dados .tabela table tr:first-child td span {
    font-size: 14px;
  }
  #onde #dados .cadastro {
    padding-top: 80px;
  }
  #onde #dados .cadastro h5 {
    margin: 0;
    padding: 0;
    font-family: 'Aurora', 'Anton', sans-serif;
    color: #FFF;
    font-size: 18px;
    text-align: center;
  }
  #onde #dados .cadastro p {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }
  #onde #dados .cadastro .botao {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 240px;
    margin: auto;
    padding: 10px;
    background-color: #FFF;
    color: #e3202b;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  #onde #dados .cadastro .botao:hover {
    color: #000;
  }
  #onde #mapa {
    padding-top: 50px;
  }
  #onde #mapa .scroll .regiao {
    position: relative;
    display: inline-block;
    margin: auto;
  }
  #onde #mapa .scroll .regiao img.brasil {
    max-width: 100%;
    max-height: 95vh;
    width: 93vh;
  }
  #onde #mapa .scroll .regiao .pin {
    position: absolute;
    width: 3.5vw;
    max-width: 25px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transition-duration: 100ms;
    transform-origin: bottom center;
  }
  #onde #mapa .scroll .regiao .pin[data-cat="Coletivo Jovem"] {
    z-index: 98;
  }
  #onde #mapa .scroll .regiao .pin[data-cat="Cooperativa"] {
    z-index: 97;
  }
  #onde #mapa .scroll .regiao .pin[data-cat="Fabricante"] {
    z-index: 99;
  }
  #onde #mapa .scroll .regiao .pin:hover {
    transform: scale(1.2);
  }
  #onde #mapa .scroll .regiao .legenda {
    position: absolute;
    left: 0%;
    bottom: 5%;
    margin: 0;
    padding: 0;
  }
  #onde #mapa .scroll .regiao .legenda li {
    margin-bottom: 10px;
  }
  #onde #mapa .scroll .regiao .legenda li img {
    width: 20px;
  }
  #onde #mapa .scroll .regiao .legenda li span {
    display: inline-block;
    font-size: 12px;
    color: #FFF;
    margin-left: 5px;
  }
  #onde #mapa .bloco {
    display: none;
    z-index: 998;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: calc(50% - 222px);
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 320px;
  }
  #onde #mapa .bloco .info {
    padding: 10px;
  }
  #onde #mapa .bloco .info.topbar p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #FFF;
  }
  #onde #mapa .bloco .info.topbar p a {
    float: right;
    display: inline-block;
    font-family: 'Aurora', 'Anton', sans-serif;
    color: #FFF;
    text-transform: uppercase;
  }
  #onde #mapa .bloco .info.uf p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 100%;
  }
  #onde #mapa .bloco .info.uf p.cidade {
    font-size: 14px;
    text-transform: none;
  }
  #onde #mapa .bloco .info.uf p span {
    display: inline-block;
    width: 220px;
    margin-bottom: 1em;
  }
  #onde #mapa .bloco .info.uf p a {
    display: inline-block;
  }
  #onde #mapa .bloco .info.uf p a img {
    height: 25px;
    width: auto;
  }
  #onde #mapa .bloco .info.uf p a.right img {
    transform: rotate(180deg);
  }
  #onde #mapa .bloco .info.ator {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #onde #mapa .bloco .info.ator img {
    max-height: 100%;
    max-width: 100%;
  }
  #onde #mapa .bloco .info.ator h3 {
    text-align: center;
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  #onde #mapa .bloco .info.texto {
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  #onde #mapa .bloco .info.texto p {
    font-size: 14px;
    text-align: center;
    line-height: 160%;
    margin: 0;
    max-height: 100%;
    overflow: auto;
    padding: 0 5px 20px;
  }
  #onde #mapa .bloco .info.texto p::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom, transparent, #FFF 60%);
  }
  #onde #mapa .bloco .info.ctrl p {
    margin: 0;
  }
  #onde #mapa .bloco .info.ctrl p a {
    display: inline-block;
    font-size: 16px;
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    color: #FFF;
  }
  #onde #mapa .bloco .info.ctrl p a img {
    height: 30px;
    width: auto;
  }
  #onde #mapa .bloco .info.ctrl p a.right {
    float: right;
  }
  #onde #mapa .bloco .info.ctrl p a.right img {
    transform: rotate(180deg);
  }
}
@media all and (min-width: 1100px) {
  #onde .container {
    max-width: 940px !important;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media all and (min-width: 1200px) {
  #onde .container {
    padding-left: 15px;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados h3 {
    text-align: right;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .tabela {
    max-width: 600px;
    border: solid 6px #FFF;
    border-radius: 3px;
    border-top: none;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .tabela .borda {
    right: -6px;
    bottom: calc(100% - 6px);
    width: calc(100% + 12px);
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .tabela table tr td span {
    font-size: 56px;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .tabela table tr td span small {
    font-size: 32px;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .tabela table tr td p {
    font-size: 18px;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .tabela table tr:first-child td span {
    font-size: 24px;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .cadastro h5 {
    text-align: left;
  }
}
@media all and (min-width: 1200px) {
  #onde #dados .cadastro p {
    text-align: left;
  }
}
@media all and (min-width: 670px) {
  #onde #mapa .scroll .regiao .legenda {
    left: 10%;
    bottom: 20%;
  }
}
@media all and (min-width: 992px) {
  #onde #mapa .scroll .regiao .legenda {
    left: 70%;
    bottom: 5%;
  }
}
@media all and (min-width: 670px) {
  #onde #mapa .scroll .regiao .legenda li span {
    font-size: 14px;
  }
}
@media all and (min-width: 992px) {
  #onde #mapa .bloco {
    left: 30px;
    bottom: 120px;
    right: auto;
  }
}
@media all and (min-width: 1024px) {
  #onde #mapa .bloco .info.texto {
    height: 250px;
  }
}
/*********************************** DEPOIMENTOS ***********************************/
@media all {
  #depos {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  #depos .container {
    max-width: 680px !important;
  }
  #depos h2 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #FFF;
    font-size: 48px;
    max-width: 320px;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  #depos .carousel {
    height: 590px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
  }
  #depos .carousel .flow {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 100px);
    width: auto;
    width: max-content;
    display: flex;
    flex-direction: row;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transition-duration: 800ms;
    padding-left: 15px;
    padding-right: 15px;
  }
  #depos .carousel .flow .item {
    position: relative;
    display: none;
    height: 100%;
    width: calc( 100vw - 30px );
    padding: 0px 10px 50px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  #depos .carousel .flow .item:nth-child(1),
  #depos .carousel .flow .item:nth-child(2),
  #depos .carousel .flow .item:nth-child(3) {
    display: inherit;
  }
  #depos .carousel .flow .item .quote {
    position: relative;
    max-width: 400px;
    margin: auto;
    padding: 5px;
    padding-top: 30px;
  }
  #depos .carousel .flow .item .quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background-image: url("../img/quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #depos .carousel .flow .item .quote p {
    font-size: 16px;
  }
  #depos .carousel .flow .item .quote p.sign {
    font-weight: 800;
    text-align: right;
  }
  #depos .carousel .flow .item .iframe {
    height: 100%;
    width: 100%;
    position: relative;
  }
  #depos .carousel .flow .item .iframe iframe {
    height: 85%;
    width: 100%;
  }
  #depos .carousel .flow .item .iframe p {
    font-size: 14px;
  }
  #depos .carousel .flow .item .imagem {
    display: block;
    margin: auto;
  }
  #depos .carousel .flow .item .imagem img {
    max-height: 85%;
    width: 100%;
  }
  #depos .carousel .flow .item .link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #depos .carousel .flow .item .link .saibamais {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #FFF;
  }
  #depos .carousel .flow .item .link .saibamais:hover {
    background-color: #000;
    color: #FFF;
  }
  #depos .carousel .controls {
    max-width: 680px !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #depos .carousel .controls a.right,
  #depos .carousel .controls a.left {
    display: inline-block;
    height: 30;
    width: 30px;
    position: relative;
    z-index: 5;
  }
  #depos .carousel .controls .right {
    float: left;
  }
  #depos .carousel .controls .right {
    float: right;
  }
  #depos .carousel .controls .right img {
    transform: rotate(180deg);
  }
  #depos .carousel .controls ul {
    display: none;
    padding: 0;
  }
}
@media all and (min-width: 1200px) {
  #depos .container {
    max-width: 940px !important;
  }
}
@media all and (min-width: 1200px) {
  #depos .balls-line {
    position: absolute;
    left: 0;
    top: 48%;
    width: 100%;
    height: 10px;
    background-image: url("../img/balls-line.svg");
    background-position: left -1px center;
    background-repeat: repeat-x;
  }
}
@media all and (min-width: 1200px) {
  #depos .carousel {
    height: 550px;
  }
}
@media all and (min-width: 680px) {
  #depos .carousel .flow {
    padding-left: 87px;
    padding-right: 70px;
  }
}
@media all and (min-width: 1200px) {
  #depos .carousel .flow {
    padding-left: 202px;
    padding-right: 185px;
  }
}
@media all and (min-width: 680px) {
  #depos .carousel .flow .item {
    width: 540px;
    padding: 0px 20px 50px 20px;
  }
}
@media all and (min-width: 1200px) {
  #depos .carousel .controls {
    max-width: 940px !important;
  }
}
@media all and (min-width: 1200px) {
  #depos .carousel .controls ul {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  #depos .carousel .controls ul li {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #FFF;
    border-radius: 100vh;
    border: solid 4px #e3202b;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transition-duration: 400ms;
    margin: 0px 2px;
  }
  #depos .carousel .controls ul li:hover {
    background-color: #000;
  }
  #depos .carousel .controls ul li.active {
    background-color: #e3202b;
  }
}
/*********************************** DUVIDA ***********************************/
@media all {
  #duvida {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: #e3202b;
  }
  #duvida h2 {
    font-family: 'Aurora', 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 48px;
    max-width: 320px;
    margin: auto;
    margin-bottom: 50px;
  }
  #duvida p {
    color: #FFF;
    max-width: 360px;
    margin: auto;
    margin-bottom: 3em;
    font-size: 18px;
    text-align: center;
  }
  #duvida p a {
    text-decoration: underline !important;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  #duvida p a:hover {
    color: #000;
  }
  #duvida p span {
    display: block;
    text-transform: uppercase;
    font-family: 'Aurora', 'Anton', sans-serif;
    font-size: 22px;
    margin-top: 10px;
  }
}
