/********************************* CORES *********************************/
@vermelho: #e3202b;

@preto: #000;
@escuro: #222;
@grafite: #333;
@cinzaescuro: #777;
@cinza: #AAA;
@cinzaclaro: #EEE;
@gelo: #F7F7F7;
@branco: #FFF;

@cores:
	vermelho @vermelho,
	
    preto @preto,
	escuro @escuro,
	grafite @grafite,
	cinzaescuro @cinzaescuro,
	cinza @cinza,
	cinzaclaro @cinzaclaro,
	gelo @gelo,
	branco @branco;

.color-classes(@i: length(@cores)) when (@i > 0) {
    .color-classes(@i - 1);
    @color: extract(@cores, @i);
	@nome: extract(@color, 1);
	@cor: extract(@color, 2);
    .c@{nome} { color: @cor; }
	.b@{nome} { background-color: @cor; }
    .bg@{nome} { background-color: @cor; background-image: linear-gradient(to bottom, @cor 0%, @cor - #222 100%); }
}
.color-classes();

/********************************* FONTS *********************************/
@font-face {
    font-family: 'Aurora';
    src: url("../fonts/OPTIAuroraBoldCondensed.ttf") format("opentype");
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Light.ttf") format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Regular.woff") format("woff"),
      url("../fonts/TCCC-UnityText-Regular.woff2") format("woff2"),
      url("../fonts/TCCC-UnityText-Regular.ttf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Medium.woff") format("woff"),
      url("../fonts/TCCC-UnityText-Medium.woff2") format("woff2"),
      url("../fonts/TCCC-UnityText-Medium.ttf") format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Bold.ttf") format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Black.ttf") format("opentype");
    font-weight: 800;
}

/********************************* GERAL *********************************/
html,body{font-size: 10px;}
*{
	font-family: 'TCCC', 'Montserrat', sans-serif;
	//font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alterfont{
	font-family: 'Aurora', 'Anton', sans-serif;
	//font-family: 'Anton', sans-serif;
}
.transition{
    -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.fast{
	-webkit-transition-duration: 100ms;
	-moz-transition-duration: 100ms;
	-o-transition-duration: 100ms;
	transition-duration: 100ms;
}
.clear{
	clear: both;
}
a, button{ text-decoration: none; color: inherit; border: 0; outline: 0; background: none; cursor: pointer; &:hover{ text-decoration: none; } }
ul,ol{ list-style-type: none; }
.tabled{
	display: table;
	&>div{display: table-cell; vertical-align: middle;}
}
nobr{ font-family: inherit; }
/*********************************** FORMAS ***********************************/
.il{display: inline;}
.bl{display: block;}
.ib{display: inline-block;}

.rd100{border-radius: 100vh;}
.rd0{border-radius: 0px;}
.rd5{border-radius: 5px;}
.rd10{border-radius: 10px;}

.m0{margin: 0;}

.mb05{margin-bottom: 0.5em;}
.mb1{margin-bottom: 1em;}
.mb2{margin-bottom: 2em;}
.mb3{margin-bottom: 3em;}

.p0{padding: 0;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p20{padding: 20px;}

.pl10{padding-left: 10px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}

/*********************************** FONTES TEXTOS ***********************************/
.w100{font-weight: 100;}
.w200{font-weight: 200;}
.w300{font-weight: 300;}
.w400{font-weight: 400;}
.w500{font-weight: 500;}
.w600{font-weight: 600;}
.w700{font-weight: 700;}
.w800{font-weight: 800;}
.w900{font-weight: 900;}
.i{font-style: italic;}
.uc{text-transform: uppercase;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}

.t9{font-size: 9px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t13{font-size: 13px;}
.t14{font-size: 14px;}
.t15{font-size: 15px;}
.t16{font-size: 16px;}
.t18{font-size: 18px;}
.t20{font-size: 20px;}
.t22{font-size: 22px;}
.t24{font-size: 24px;}
.t26{font-size: 26px;}
.t28{font-size: 28px;}
.t32{font-size: 32px;}
.t36{font-size: 36px;}
.t37{font-size: 37px;}
.t42{font-size: 42px;}
.t48{font-size: 48px;}
.t56{font-size: 56px;}
.t72{font-size: 72px;}

.lh100{line-height: 100%;}
.lh120{line-height: 120%;}
.lh140{line-height: 140%;}
.lh160{line-height: 160%;}
.lh180{line-height: 180%;}
.lh200{line-height: 200%;}

/*********************************** ANIMATION ***********************************/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
  -ms-animation: rotating 120s linear infinite;
  -o-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;
}

/*********************************** GRID ***********************************/
::-webkit-scrollbar {
    width: 8px;
    background: @branco;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: @vermelho;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: @vermelho;
}

html, body{ overflow-x: hidden !important; }
@media (max-width:1199px){ .container{ max-width: 420px !important; position: relative; } }
@media (min-width:1200px){ .container{ max-width: 940px !important; position: relative; } }

/*********************************** NAV - MENU ***********************************/
@media (max-width:991px){
    nav#menu{
        h1{ display: none; }
        ul{
            .m0; .p0; width: 340px; position: fixed; right: 0; top: 0; .bbranco; z-index: 999; padding-left: 170px; display: none;
            a.close-menu{ .bl; .tr; padding: 20px 10px; }
            li{
                .p0; margin-bottom: 40px;
                a{
                    .bl; .tr; .t16; .w400; .uc; padding-left: 30px; padding-right: 10px; padding-top: 5px; position: relative; .transition;
                    &::after{ content: ''; position: absolute; right: 0; top: 0; width: 100%; height: 2px; .bpreto; .transition; }
                    &:hover{
                        .w700;
                    }
                    &.active{
                        .w800;
                    }
                }
            }
        }
    }
}
@media (min-width:992px){
    nav#menu{
        position: fixed; left: 0; top: 0; height: 100%; width: 200px; z-index: 9999;
        display: flex; flex-direction: column; padding-top: 50px;
        h1{ .mb1; svg{ width: 128px; g,path,rect,circle{ fill: @preto !important; } } }
        ul{
            .m0; .p0; width: 100px; display: block !important;
            a.close-menu{ display: none !important; }
            li{
                .p0; margin-bottom: 40px;
                a{
                    .bl; .t12; .w400; .uc; padding-left: 15px; padding-top: 10px; position: relative; .transition;
                    &::after{ content: ''; position: absolute; left: 0; top: 0; width: 20%; height: 2px; .bpreto; .transition; }
                    &:hover{
                        .w700; &::after{ width: 40%; }
                    }
                    &.active{
                        .w800; &::after{ width: 100%; height: 6px; }
                    }
                }
            }
        }
        &[data-color=branco]{
            h1{ svg{ g,path,rect,circle{ fill: @branco !important; } } }
            ul{ li{ a{ .cbranco; &::after{ .bbranco; } } } }
        }
    }
}

/*********************************** CAPA ***********************************/
@media all{
    #capa{
        .container{ max-width: 640px !important; @media(min-width:992px){ max-width: 740px !important; } }
        .bvermelho; padding-top: 80px; padding-bottom: 80px; position: relative;
        a.open-menu{ position: fixed; top: 0; right: 0; .p10; .lh100; .t36; z-index: 99; @media(min-width:992px){ display: none !important; } }
        h1{ .alterfont; .uc; .tc; .cbranco; .t48; max-width: 260px; margin: auto; margin-bottom: 40px; @media(min-width:1200px){ .t72; max-width: 360px; }  }
        .logo{ max-width: 100%; width: 200px; .bl; margin: auto; margin-bottom: 40px; }
        .subtitulo{ p{ .t18; .uc; .tc; .w800; .lh140; } }
        p{ .t14; .cbranco; .lh180; .mb2; }
    }
}

/*********************************** LOGOS ***********************************/
@media all{
    .logos{
        padding-top: 80px; padding-bottom: 80px; position: relative;
        .container{ max-width: 680px !important; @media(min-width:1100px){ max-width: 940px !important; } @media(min-width:1400px){ max-width: 1240px !important; } }
        .lista{
            .tc;
            a{
                .ib; margin: 15px;
                img{ height: 80px; width: auto; max-width: 100%; }
                @media(min-width:1100px){
                    img{ height: 130px; }
                }
            }
        }
    }
}

/*********************************** COMO ***********************************/
@media (max-width:1199px){
    #como{
        padding-top: 80px; padding-bottom: 80px; position: relative;
        background-image: url("../img/streets-5.svg"); background-size: 690px auto; background-repeat: no-repeat; background-position: 50% 220px; overflow-x: hidden;
        .dotball1,.dotball2{ display: none !important; }
        .container{
            max-width: 360px !important;
        }
        h2{ .alterfont; .uc; .tc; .cpreto; .t48; max-width: 260px; margin: auto; margin-bottom: 100px; }
        .item{
            .ball{
                .bcinza; .rd100; position: relative; float: right; width: 270px; height: 270px; background-size: cover;
                &::before{ content: ''; .bl; top: 0; left: 0; height: 100%; width: 100%; .rd100; background-color: fade(@preto, 30);  }
                h4{ position: absolute; top: 42%; right: 20px; .alterfont; .cbranco; .uc; .t24; .tr; .lh140; }
            }
            .symbol{ width: 80px; height: auto; float: right; }
            p{ height: 200px; .t14; .cpreto; display: flex; align-items: center; }
            
            &.left{
                .ball{
                    float: left;
                    h4{ right: auto; left: 20px; text-align: left; }
                }
                .symbol{ float: left; }
                p{ .tr; }
            }
            &.item-1{ p{ height: 320px; padding-top: 10px; padding-bottom: 0px; } }
            &.item-2{ p{ height: 290px; padding-top: 10px; padding-bottom: 0px; } }
            &.item-3{ p{ height: 290px; padding-top: 10px; padding-bottom: 0px; } }
            &.item-4{ p{ height: 310px; padding-top: 30px; padding-bottom: 0px; } }
            &.item-5{ p{ height: 290px; padding-top: 10px; padding-bottom: 0px; } }
        }
    }
}
@media(min-width:1200px){
    #como{
        padding-top: 80px; padding-bottom: 80px; position: relative;
        /*background: url("../img/dot-ball.svg"), url("../img/dot-ball.svg");
        background-size: 750px, 750px;
        background-repeat: no-repeat, no-repeat;
        background-position: ~"calc(50% - 750px)" 75%, ~"calc(50% + 750px)" 25%;*/
        .dotball1,.dotball2{ .rotating; }
        .dotball1{ position: absolute; width: 750px; height:750px; right: ~"calc(50% + 350px)"; top: 50%; }
        .dotball2{ position: absolute; width: 750px; height:750px; left: ~"calc(50% + 400px)"; top: 23%; }
        .container{
            background-image: url("../img/streets-big-5.svg"); background-size: 690px auto; background-repeat: no-repeat; background-position: 50% 200px;
            max-width: 800px !important;
        }
        h2{ .alterfont; .uc; .tc; .cpreto; .t48; max-width: 260px; margin: auto; margin-bottom: 100px; }
        .item{
            .ball{
                .bcinza; .rd100; position: relative; float: right; width: 380px; height: 380px; background-size: cover; .transition; transition-duration: .2s;
                &::before{ content: ''; .bl; top: 0; left: 0; height: 100%; width: 100%; .rd100; background-color: fade(@preto, 30);  }
                h4{ position: absolute; top: 50%; right: 20px; .alterfont; .cbranco; .uc; .t42; .tr; .lh140; .m0; transform: translateY(-50%); }
            }
            .symbol{ width: 100px; height: auto; float: right; }
            p{ height: 200px; .t14; .cpreto; display: flex; align-items: center; }
            
            &.left{
                .ball{
                    float: left;
                    h4{ right: auto; left: 20px; text-align: left; }
                }
                .symbol{ float: left; }
                p{ .tr; }
            }
            
            &.item-1{ padding-top: 80px; }
        }
    }
}

/*********************************** OQUE ***********************************/
@media all{
    #oque{
        padding-top: 0px; padding-bottom: 80px; position: relative;
        @media(min-width:1200px){ padding-top: 80px; }
        .balls-line{
            width: 100%; height: 10px; background-image: url("../img/balls-line.svg"); background-position: left -1px center; background-repeat: repeat-x; margin-bottom: 80px;
            @media(min-width:1200px){ position: absolute; left: 0; top: 48%; margin-bottom: 0px; }
        }
        h2{ .alterfont; .uc; .tc; .cvermelho; .bbranco; .t48; max-width: 260px; margin: auto; margin-bottom: 0px; position: relative; z-index: 2; }
        .filtros{
            padding-top: 40px; padding-bottom: 20px;
            &>div{ justify-content: center; display: flex; }
            a{
                .bl; .uc; .cvermelho; .t16; .tc; .alterfont; position: relative; .transition; .mb1; transition-duration: 350; min-width: 120px;
                svg.cvermelho{.ib; width: auto; height: 30px; .mb05; g,path,rect,circle{ fill: @vermelho !important; &.cl-none{ fill: none !important; } } }
                &.active{ .cpreto; svg{ g,path,rect,circle{ fill: @preto !important; &.cl-none{ fill: none !important; } } } }
                &:hover{ transform: scale(1.2); }
            }
        }
        .itens{
            .item{
                padding: 15px;
                @media(max-width:1199px){ &:nth-child(n+7){ display: none; } } @media(min-width:1200px){ &:nth-child(n+19){ display: none; } } //@media(min-width:1200px){ &.ativo{ display: block !important; } }
                .box{
                    padding: 50px 25px 25px 25px; min-height: 280px; height: 100%; display: flex; align-items: center; position: relative; .transition;
                    .bvermelho; background-image: linear-gradient(to bottom left, @vermelho - @escuro, @vermelho);
                    -webkit-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.31);
                    -moz-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.31);
                    box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.31);
                    &:hover{
                        transform: translateY(-5px);
                        -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.25);
                        -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.25);
                        box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.25);
                    }
                    &>span{
                        position: absolute; top: 5px; left: 5px;
                        svg.cbranco{ width: auto; height: 35px; .ib; .p5; g,path,rect,circle{ fill: @branco !important; &.cl-none{ fill: none !important; } } }
                    }
                    .amazonas{ position: absolute; width: 70px; top: -3px; right: 43px; }
                    p{ .cbranco; .lh160; .t13; .m0; }
                    .share{
                        position: absolute; top: 5px; right: 5px; z-index: 55; max-width: ~"calc(100% - 10px)"; width: 30px; height: 35px; .transition; overflow: hidden;
                        label{ cursor: pointer; .m0; float: right; }
                        svg.cshare{ width: auto; height: 35px; .ib; .p5; g,path,rect,circle{ fill: @branco !important; &.cl-none{ fill: none !important; } } }
                        &>span{
                            position: absolute; top: 0px; left: 0px; visibility: hidden; opacity: 0;
                            a{
                                svg{ width: auto; height: 35px; .ib; .p5; g,path,rect,circle{ fill: @branco !important; &.cls-1{ fill: @vermelho !important; .transition; } } }
                                &:hover{
                                    svg{ width: auto; height: 35px; .ib; .p5; g,path,rect,circle{ fill: @branco !important; &.cls-1{ fill: @preto !important; } } }
                                }
                            }
                        }
                    }
                    input{
                        display: none !important;
                        &:checked ~ .share{
                            width: 390px; .bbranco;
                            svg.cshare{ width: auto; height: 35px; .ib; .p5; g,path,rect,circle{ fill: @vermelho !important; &.cl-none{ fill: none !important; } } }
                            &>span{
                                visibility: visible; opacity: 1;
                            }
                        }
                    }
                }
                &.shared .box{
//                    .bpreto; background-image: linear-gradient(to bottom left, @preto, @escuro);
                }
            }
        }
        .mais{ .alterfont; .t16; .cpreto; .uc; .ib; .p5; margin-top: 50px; margin-bottom: 50px; 
            //@media(min-width:1200px){ display: none !important; }
        }
    }
}

/*********************************** ONDE | DADOS - MAPA ***********************************/
@media all{
    #onde{
        .bgvermelho; padding-bottom: 20px;
        .container{
            padding-top: 80px; padding-bottom: 80px; max-width: 760px !important;
//            @media(max-width:767px){ padding-left: 0; padding-right: 0; }
            @media(min-width:1100px){ max-width: 940px !important; padding-left: 80px; padding-top: 30px; padding-bottom: 30px; }
            @media(min-width:1200px){ padding-left: 15px; }
        }
        #dados{
            background-image: url("../img/back-dados.jpg"); background-size: cover; background-position: center center; padding-top: 50px; padding-bottom: 30px;
            h2{ .alterfont; .uc; .tc; .cbranco; .t48; max-width: 260px; margin: auto; .mb1; position: relative; z-index: 2; }
            p{ .cbranco; .t14; .mb3; .lh160; }
            h3{ .cbranco; .t22; .alterfont; .lh160; .uc; margin-bottom: 80px; @media(min-width:1200px){ .tr; } }
            .tabela{
                padding: 20px 0; position: relative; max-width: 420px; margin: auto;  @media(min-width:1200px){ max-width: 600px; border: solid 6px @branco; border-radius: 3px; border-top: none; }
                border: solid 4px @branco; border-radius: 3px; border-top: none;
                .borda{
                    position: absolute; right: -4px; bottom: ~"calc(100% - 3px)"; width: ~"calc(100% + 8px)";
                    @media(min-width:1200px){ right: -6px; bottom: ~"calc(100% - 6px)"; width: ~"calc(100% + 12px)"; }
                }
                table{
                    width: 100%;
                    tr{
                        td{
                            .cbranco; .tc; padding: 10px 10px; vertical-align: top; width: 33.333%;
                            span{
                                .t32; .uc; .alterfont; .m0; .lh100; @media(min-width:1200px){ .t56; }
                                small{ .t18; .alterfont; .m0; .lh100; @media(min-width:1200px){ .t32; } }
                            }
                            p{ .t9; .m0; @media(min-width:1200px){ .t18; } }
                        }
                        &:first-child td{
                            padding: 20px 10px;
                            span{ .t14; @media(min-width:1200px){ .t24; } }
                        }
                    }
                }
            }
            .cadastro{
                padding-top: 80px;
                h5{ .m0; .p0; .alterfont; .cbranco; .t18; .tc; @media(min-width:1200px){ text-align: left; } }
                p{ .m0; .p0; .cbranco; .t14; .tc; margin-bottom: 15px; @media(min-width:1200px){ text-align: left; } }
                .botao{
                    .bl; .tc; width: 100%; max-width: 240px; margin: auto; .p10; .bbranco; .cvermelho; .t14; .w800; margin-bottom: 15px; .transition;
                    &:hover{ .cpreto; }
                }
            }
        }
        #mapa{
            padding-top: 50px;
            .scroll{
    //            @media(max-width:767px){ overflow-x: scroll; height: 100vh; };
                .regiao{
                    position: relative;
    //                  @media(max-width:767px){ width: fit-content; min-width: none; height: 100%; }
                        .ib; margin: auto;
                    img.brasil{
    //                  @media(max-width:767px){ height: 100%; width: auto; }
                        max-width: 100%; max-height: 95vh; width: 93vh;
                    }
                    .pin{
                        position: absolute; width: 3.5vw; max-width: 25px; cursor: pointer; .transition; transition-duration: 100ms; transform-origin: bottom center;
                        &[data-cat="Coletivo Jovem"]{ z-index: 98; }
                        &[data-cat="Cooperativa"]{ z-index: 97; }
                        &[data-cat="Fabricante"]{ z-index: 99; }
                        &:hover{ transform: scale(1.2); }
                    }
                    .legenda{
                        position: absolute; left: 0%; bottom: 5%; .m0; .p0;
                        @media (min-width:670px){ left: 10%; bottom: 20%; }
                        @media (min-width:992px){ left: 70%; bottom: 5%; }
                        li{
                            margin-bottom: 10px;
                            img{ width: 20px; }
                            span{ .ib; .t12; .cbranco; margin-left: 5px; @media (min-width:670px){ .t14; } }
                        }
                    }
                }
            }
            .bloco{
                display: none; z-index: 998;
                position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; bottom: ~"calc(50% - 222px)"; @media(min-width:992px){ left: 30px; bottom: 120px; right: auto; }
                .bbranco; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                width: 320px;
                .info{
                    padding: 10px;
                    &.topbar{
                        p{ .m0; .p0; .t16; .cbranco; a{ float: right; .ib; .alterfont; .cbranco; .uc; } }
                    }
                    &.uf{
                        p{ .m0; .p0; .t16; .tc; .uc; .lh100; &.cidade{ .t14; text-transform: none; } span{ .ib; width: 220px; .mb1; } a{ .ib; img{ height: 25px; width: auto; } &.right img{ transform: rotate(180deg); } } }
                    }
                    &.ator{
                        height: 80px; display: flex; align-items: center; justify-content: center;
                        img{ max-height: 100%; max-width: 100%; }
                        h3{ .tc; .alterfont; .uc; .m0; .p0; }
                    }
                    &.texto{
                        height: 200px; overflow: hidden; position: relative;
                        @media(min-width:1024px){ height: 250px; }
                        p{
                            .t14; .tc; .lh160; .m0; max-height: 100%; overflow: auto; padding: 0 5px 20px;
                            &::after{ content: ''; .bl; position: absolute; left: 0; bottom: 0; width: 100%; height: 25px; background-image: linear-gradient(to bottom, transparent, @branco 60%); }
                        }
                    }
                    &.ctrl{
                        p{ .m0; a{ .ib; .t16; .alterfont; .uc; .cbranco; img{ height: 30px; width: auto; } &.right{ float: right; img{ transform: rotate(180deg); } } } }
                    }
                }
            }
        }
    }
}

/*********************************** DEPOIMENTOS ***********************************/
@media all{
    #depos{
        padding-top: 80px; padding-bottom: 80px; position: relative;
        .container{ max-width: 680px !important; @media(min-width:1200px){ max-width: 940px !important; } }
        .balls-line{ @media(min-width:1200px){ position: absolute; left: 0; top: 48%; width: 100%; height: 10px; background-image: url("../img/balls-line.svg"); background-position: left -1px center; background-repeat: repeat-x; } }
        h2{ .alterfont; .uc; .tc; .cpreto; .bbranco; .t48; max-width: 320px; margin: auto; position: relative; z-index: 2; }
        .carousel{
            height: 590px; width: 100%; position: relative; overflow: hidden; margin-top: 60px;
            @media(min-width:1200px){ height: 550px; }
            .flow{
                position: absolute; left: 0; top: 0; height: ~"calc(100% - 100px)"; width: auto; width: max-content; display: flex; flex-direction: row; .transition; transition-duration: 800ms;
                padding-left: 15px; padding-right: 15px;
                @media(min-width:680px){ padding-left: 87px; padding-right: 70px; }
                @media(min-width:1200px){ padding-left: 202px; padding-right: 185px; }
                .item{
                    position: relative;
                    display: none; &:nth-child(1),&:nth-child(2),&:nth-child(3){ display: inherit; }
                    height: 100%; width: ~"calc( 100vw - 30px )"; padding: 0px 10px 50px 10px; overflow: hidden; display: flex; align-items: center;
                    @media(min-width:680px){ width: 540px; padding: 0px 20px 50px 20px; }
//                    @media(min-width:1200px){ width: 570px; padding: 0px 20px; }
                    .quote{
                        position: relative; max-width: 400px; margin: auto; .p5; padding-top: 30px;
                        &::before{ content: ''; position: absolute; left: 0; top: 0; height: 30px; width: 30px; background-image: url("../img/quote.svg"); background-size: contain; background-repeat: no-repeat; }
                        p{ .t16; &.sign{ .w800; .tr; } }
                    }
                    .iframe{
                        height: 100%; width: 100%; position: relative;
                        iframe{ height: 85%; width: 100%; }
                        p{ .t14; }
                    }
                    .imagem{
                        .bl; margin: auto;
                        img{ max-height: 85%; width: 100%; }
                    }
                    .link{
                        position: absolute; bottom: 0; left: 0; width: 100%;
                        .saibamais{
                            .transition; .cbranco;
                            &:hover{ .bpreto; .cbranco; }
                        }
                    }
                }
            }
            .controls{
                max-width: 680px !important; @media(min-width:1200px){ max-width: 940px !important; }
                position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 50px; padding-left: 15px; padding-right: 15px;
                a.right, a.left{ .ib; height: 30; width: 30px; position: relative; z-index: 5; }
                .right{ float: left; }
                .right{ float: right; img{ transform: rotate(180deg); } }
                ul{
                    display: none; .p0;
                    @media(min-width:1200px){
                        display: block;
                        .tc; position: absolute; bottom: 0; left: 0; width: 100%; z-index: 2;
                        li{
                            .ib; height: 25px; width: 25px; .bbranco; .rd100; border: solid 4px @vermelho; cursor: pointer; .transition; transition-duration: 400ms; margin: 0px 2px;
                            &:hover{ .bpreto; }
                            &.active{ .bvermelho; }
                        }
                    }
                }
            }
        }
    }
}

/*********************************** DUVIDA ***********************************/
@media all{
    #duvida{
        padding-top: 80px; padding-bottom: 80px; position: relative; .bvermelho;
        h2{ .alterfont; .uc; .tc; .cbranco; .t48; max-width: 320px; margin: auto; margin-bottom: 50px; }
        p{
            .cbranco; max-width: 360px; margin: auto; .mb3; .t18; .tc;
            a{ text-decoration: underline !important; .transition; &:hover{ .cpreto; } }
            span{ .bl; .uc; .alterfont; .t22; margin-top: 10px; }
        }
    }
}